<nav class="navbar navbar-expand-lg navbar-absolute  navbar-transparent">
    <div class="container">
        <div class="navbar-wrapper">
            <div class="navbar-toggle" (click)="sidebarToggle()">
                <button type="button" class="navbar-toggler">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <a class="navbar-brand" routerLinkActive="active" href="http://127.0.0.1:5500/index.html">
                <img style="max-height: 70px;" src="../../../assets/img/logo1.png">
                <!-- <img style="max-height: 40px;" src="../../../assets/img/logo1.png"> -->
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <!-- <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLinkActive="active" href="https://angrezthesalon.com/" target="_blank" class="nav-link">
              <i class="nc-icon nc-layout-11"></i> Home
            </a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" href="https://angrezthesalon.com/" class="nav-link">
              <i class="nc-icon nc-book-bookmark"></i> About
            </a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" onmouseover="this.style.color ='#000000';" href="https://angrezthesalon.com/"
              class="nav-link">
              <i class="nc-icon nc-tap-01"></i> Appointement
            </a>
          </li>
          <li class="nav-item ">
            <a routerLinkActive="active" href="https://angrezthesalon.com/" class="nav-link">
              <i class="nc-icon nc-satisfied"></i> Blog
            </a>
          </li>
        </ul> -->
        </div>
    </div>
</nav>
<div class="wrapper wrapper-full-page ">
    <div class="full-page section-image" filter-color="red" data-image="./assets/img/bg/landing-bg.jpg">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content" style="padding-bottom: 5%;">
            <div class="container">
                <div class="col-lg-9 col-md-9 ml-auto mr-auto" *ngIf="!isBasic">
                    <form class="register-form" name="basicInfoForm" #basicInfoForm="ngForm" (ngSubmit)="onSubmit()">

                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title text-center">Basic Information of your salon.</h4>
                                <p style="text-align: center !important;">You can change it anytime.</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-form-label">Salon Name</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="salonname"
                                                [(ngModel)]="basicinfoModel.salonname" placeholder="Enter Salon Name"
                                                name="salonname" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label">Email Address *</label>
                                        <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                            <input type="email" id="email" name="eInput" placeholder="Email"
                                                class="form-control" [(ngModel)]="basicinfoModel.email"
                                                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel"
                                                required email
                                                [ngClass]="{ 'is-invalid': submitted && loginForm.email.errors }"
                                                aria-describedby="basic-addon1" (focus)="focus=true"
                                                (blur)="focus=false">
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"
                                                        aria-hidden="true"></i></span>
                                            </div>
                                        </div>
                                        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                                            <div [hidden]="!email.hasError('required')">Email is required</div>
                                            <div [hidden]="!email.hasError('pattern')">Email format should be
                                                <small><b>joe@abc.com</b></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label">Password *</label>
                                        <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                            <input type="password" id="password" name="password" placeholder="Password"
                                                minlength="6" class="form-control" [(ngModel)]="basicinfoModel.password"
                                                required="true" value="" #password="ngModel" type="password" required
                                                aria-describedby="basic-addon1" (focus)="focus=true"
                                                (blur)="focus=false">
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"
                                                        aria-hidden="true"></i></span>
                                            </div>
                                        </div>
                                        <div [hidden]="(password.valid || password.pristine || password.untouched )"
                                            class="alert alert-danger">
                                            <div [hidden]="!password.hasError('minlength')">password should be 6 digit
                                            </div>
                                            <div [hidden]="!password.hasError('required')">password is required</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label">Contact Number</label>
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="contact"
                                                [(ngModel)]="basicinfoModel.contact" placeholder="Enter Contact Number"
                                                name="contact" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="mr-md-auto">
                                        <!-- <button type="cancel" class="btn btn-danger btn-link btn-round">
                                            <i class="fa fa-arrow-left"></i> Back
                                        </button> -->
                                    </div>
                                    <div class="ml-auto mr-auto">
                                        <button type="submit" class="btn btn-primary btn-round"
                                            (click)="nextBasicInfo()" [disabled]="!basicInfoForm.form.valid">
                                            <i class="fa fa-paper-plane" aria-hidden="true"></i> Next
                                        </button>
                                    </div>
                                    <div class="ml-md-auto">
                                        <button type="submit" class="btn btn-warning btn-link btn-round"
                                            style="text-decoration: underline;" (click)="basicInfoSkip()"> Skip
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="col-lg-9 col-md-9 ml-auto mr-auto" *ngIf="isMore">
                    <form class="register-form" name="moreAboutForm" #moreAboutForm="ngForm" (ngSubmit)="onSubmit()">

                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title text-center">More Information about your salon.</h4>
                                <p style="text-align: center !important;">You can change it anytime.</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-form-label">Salon Address</label>
                                        <div class="form-group">
                                            <textarea id="address" class="form-control" name="address" rows="2"
                                                cols="40" [(ngModel)]="basicinfoModel.address"
                                                placeholder="Enter Address">
                                         </textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label">Upload Logo </label>
                                        <br>
                                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                            <div class="fileinput-new thumbnail img-circle">
                                                <img src="./assets/img/logo_placeholder.jpg" alt="...">
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
                                            <div>
                                                <span class="btn btn-round btn-rose btn-file">
                                                    <span class="fileinput-new">Add Logo</span>
                                                    <span class="fileinput-exists">Change</span>
                                                    <input type="file" name="..." />
                                                </span>
                                                <br />
                                                <a href="javascript:void(0)"
                                                    class="btn btn-danger btn-round fileinput-exists"
                                                    data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="mr-md-auto">
                                        <button type="cancel" class="btn btn-danger btn-link btn-round"
                                            (click)="backToBasic()">
                                            <i class="fa fa-arrow-left"></i> Back
                                        </button>
                                    </div>
                                    <div class="ml-auto mr-auto">
                                        <button type="submit" class="btn btn-primary btn-round"
                                            (click)="nextBasicInfo()" [disabled]="!moreAboutForm.form.valid">
                                            <i class="fa fa-paper-plane" aria-hidden="true"></i> Next
                                        </button>
                                    </div>
                                    <div class="ml-md-auto">
                                        <button type="submit" class="btn btn-warning btn-link btn-round"
                                            style="text-decoration: underline;" (click)="skipMoreAbout()"> Skip
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-11 col-md-11 ml-auto mr-auto" *ngIf="isSelection">
                    <div class="card card-plain">
                        <div class="card-header">
                            <h4 class="card-title text-center">What do you want to add to your portal?</h4>
                            <p style="text-align: center !important; color: white;">Recommended for You</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                    <span class="form-check-sign"></span>
                                                    <span>
                                                        <h5 class="custom">Core</h5>
                                                    </span>
                                                    <span class="custom">What do you want to add to your portal?</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-xs-12">
                                                    <img style="width: 100% !important;" src="./assets/img/sample.jpg"
                                                        alt="..." />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                    <span class="form-check-sign"></span>
                                                    <span>
                                                        <h5 class="custom">Combo Offer</h5>
                                                    </span>
                                                    <span class="custom">What do you want to add to your portal?</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-xs-12">
                                                    <img style="width: 100% !important;" src="./assets/img/sample.jpg"
                                                        alt="..." />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                    <span class="form-check-sign"></span>
                                                    <span>
                                                        <h5 class="custom">Membership</h5>
                                                    </span>
                                                    <span class="custom">What do you want to add to your portal?</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-xs-12">
                                                    <img style="width: 100% !important;" src="./assets/img/sample.jpg"
                                                        alt="..." />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                    <span class="form-check-sign"></span>
                                                    <span>
                                                        <h5 class="custom">Products</h5>
                                                    </span>
                                                    <span class="custom">What do you want to add to your portal?</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-xs-12">
                                                    <img style="width: 100% !important;" src="./assets/img/sample.jpg"
                                                        alt="..." />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                    <span class="form-check-sign"></span>
                                                    <span>
                                                        <h5 class="custom">Expenses</h5>
                                                    </span>
                                                    <span class="custom">What do you want to add to your portal?</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-xs-12">
                                                    <img style="width: 100% !important;" src="./assets/img/sample.jpg"
                                                        alt="..." />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                    <span class="form-check-sign"></span>
                                                    <span>
                                                        <h5 class="custom">Attandance</h5>
                                                    </span>
                                                    <span class="custom">What do you want to add to your portal?</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-xs-12">
                                                    <img style="width: 100% !important;" src="./assets/img/sample.jpg"
                                                        alt="..." />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                    <span class="form-check-sign"></span>
                                                    <span>
                                                        <h5 class="custom">Vendor</h5>
                                                    </span>
                                                    <span class="custom">What do you want to add to your portal?</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-xs-12">
                                                    <img style="width: 100% !important;" src="./assets/img/sample.jpg"
                                                        alt="..." />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox">
                                                    <span class="form-check-sign"></span>
                                                    <span>
                                                        <h5 class="custom">Billing</h5>
                                                    </span>
                                                    <span class="custom">What do you want to add to your portal?</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-xs-12">
                                                    <img style="width: 100% !important;" src="./assets/img/sample.jpg"
                                                        alt="..." />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="mr-md-auto">
                                    <button type="cancel" class="btn btn-danger btn-link btn-round"
                                        (click)="backToAbout()">
                                        <i class="fa fa-arrow-left"></i> Back
                                    </button>
                                </div>
                                <div class="ml-auto mr-auto">
                                    <button type="submit" class="btn btn-primary btn-round" (click)="nextBasicInfo()"
                                        [disabled]="!moreAboutForm.form.valid">
                                        <i class="fa fa-paper-plane" aria-hidden="true"></i> Next
                                    </button>
                                </div>
                                <div class="ml-md-auto">
                                    <button type="submit" class="btn btn-warning btn-link btn-round"
                                        style="text-decoration: underline;" (click)="skipMoreAbout()"> Skip
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer footer-black  footer-white ">
            <div class="container">
                <div class="row">
                    <nav class="footer-nav">
                        <ul>

                            <li>
                                <a href="https://www.keryar.com">
                                    Keryar
                                </a>
                            </li>
                            <li>
                                <a href="https://keryar.com/why">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a>
                                    Licenses
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="credits ml-auto">
                        <span class="copyright">
                            &copy; {{test | date: 'yyyy'}}, Design & Develop by <a
                                href="https://www.keryar.com">Keryar</a>
                        </span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>