<div class="main-content">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-10">
                    <h4 class="card-title">Change Password</h4>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form class="form-horizontal" name="confirmPwdForm" #confirmPwdForm="ngForm">
                <div class="row">
                    <label class="col-md-2 col-form-label">Enter Current Password</label>
                    <div class="col-md-4">
                        <div class="form-group"  >
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="Enter Old Password" required value="" pattern="^[a-zA-Z0-9 ]+$"
                                  (focusout)="focusOutFunction(password)"
                                (mouseout)="focusOutFunction(password)" [(ngModel)]="password" />
                        </div>
                        <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
                            <div *ngIf="password.errors.required">
                                Standard Name is required
                            </div>
                            <div [hidden]="!password.errors('pattern')">
                                Enter Only Characters and Numbers.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2 col-form-label">Enter New Password</label>
                    <div class="col-md-4">
                        <div class="form-group"  >
                            <input type="password" class="form-control" id="newpassword" name="newpassword"
                                placeholder="Enter New  Password" required value="" pattern="^[a-zA-Z0-9 ]+$"
                                  [(ngModel)]="newpassword" />
                        </div>
                        <div *ngIf="newpassword.errors && (newpassword.dirty || newpassword.touched)"
                            class="alert alert-danger">
                            <div *ngIf="newpassword.errors.required">
                                Standard Name is required
                            </div>
                            <div [hidden]="!newpassword.errors('pattern')">
                                Enter Only Characters and Numbers.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2 col-form-label">Enter Confirm Password</label>
                    <div class="col-md-4">
                        <div class="form-group"  >
                            <input type="password" class="form-control" id="confmpassword" name="confmpassword"
                                placeholder="Confirm New Password" required value="" pattern="^[a-zA-Z0-9 ]+$"
                                  (focusout)="focusOutFunction(confmpassword)"
                                (mouseout)="focusOutFunction(confmpassword)" [(ngModel)]="confmpassword" />
                        </div>
                        <div *ngIf="confmpassword.errors && (confmpassword.dirty || confmpassword.touched)"
                            class="alert alert-danger">
                            <div *ngIf="confmpassword.errors.required">
                                Standard Name is required
                            </div>
                            <div [hidden]="!confmpassword.errors('pattern')">
                                Enter Only Characters and Numbers.
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="ml-md-auto">
                    <button type="submit" [disabled]="!confirmPwdForm.form.valid " (click)="updatePassword(newpassword)"
                        class="btn btn-info btn-round">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i> Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>