<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
  <div class="container">
    <div class="navbar-wrapper">
      <div class="navbar-toggle" (click)="sidebarToggle()">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand" routerLinkActive="active" href="http://127.0.0.1:5500/index.html">
        <img style="max-height: 70px;" src="../../../assets/img/logo1.png">
        <!-- <img style="max-height: 40px;" src="../../../assets/img/logo1.png"> -->
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLinkActive="active" href="https://angrezthesalon.com/" target="_blank" class="nav-link">
            <i class="nc-icon nc-layout-11"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" href="https://angrezthesalon.com/" class="nav-link">
            <i class="nc-icon nc-book-bookmark"></i> About
          </a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" onmouseover="this.style.color ='#000000';" href="https://angrezthesalon.com/"
            class="nav-link">
            <i class="nc-icon nc-tap-01"></i> Appointement
          </a>
        </li>
        <li class="nav-item ">
          <a routerLinkActive="active" href="https://angrezthesalon.com/" class="nav-link">
            <i class="nc-icon nc-satisfied"></i> Blog
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="wrapper wrapper-full-page">
  <div class="full-page register-page section-image" filter-color="black" data-image="./assets/img/bg/map-banner.jpg">
    <div class="content" style="padding-bottom: 5%;">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-5 ml-auto">
            <div class="info-area info-horizontal mt-5">
              <div class="icon icon-primary">
                <i class="nc-icon nc-tv-2"></i>
              </div>
              <div class="description">
                <h5 class="info-title">Grooming</h5>
                <p class="description">
                  Grooming is the secret of real elegance. The best clothes, the most wonderful jewels, the most
                  glamorous beauty don’t count without good grooming.
                </p>
              </div>
            </div>
            <div class="info-area info-horizontal">
              <div class="icon icon-primary">
                <i class="nc-icon nc-html5"></i>
              </div>
              <div class="description">
                <h5 class="info-title">Hair cut</h5>
                <p class="description">
                  Good hair reflects your story and your spirit.
                </p>
              </div>
            </div>
            <div class="info-area info-horizontal">
              <div class="icon icon-info">
                <i class="nc-icon nc-atom"></i>
              </div>
              <div class="description">
                <h5 class="info-title">Skin Treatment</h5>
                <p class="description">
                  Beautiful skin doesn't come from good makeup, its from a good facial.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mr-auto" *ngIf="!registerForm">
            <div class="card card-signup text-center">
              <div class="card-header ">
                <h4 class="card-title">Register</h4>
              </div>
              <div class="card-body ">
                <form class="form" method="" action="" name="forgotForm" #forgotForm="ngForm">
                  <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="nc-icon nc-single-02"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="First Name..." (focus)="focus=true"
                      (blur)="focus=false" id="fname" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="customerModel.fname" #fname="ngModel">
                  </div>
                  <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="nc-icon nc-circle-10"></i>
                      </span>
                    </div>
                    <input type="text" placeholder="Last Name..." class="form-control" (focus)="focus1=true"
                      (blur)="focus1=false" id="lname" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="customerModel.lname" #lname="ngModel">
                  </div>
                  <div class="input-group" [ngClass]="{'input-group-focus':focus2===true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="nc-icon nc-mobile"></i>
                      </span>
                    </div>
                    <input type="tel" maxlength="10" class="form-control" placeholder="Phone..." (focus)="focus5=true"
                      (blur)="focus5=false" id="contact" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="customerModel.contact" #contact="ngModel">
                  </div>
                  <div class="input-group" [ngClass]="{'input-group-focus':focus2===true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="nc-icon nc-email-85"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" id="email" name="email" [(ngModel)]="customerModel.email"
                      placeholder="Email..." required value="" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                      (focus)="focus2 = true" #email="ngModel" />
                  </div>
                  <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                    <div *ngIf="email.errors.required">
                      Email Name is required
                    </div>
                    <div [hidden]="!email.errors('pattern')">
                      Enter Only Characters and Numbers.
                    </div>
                  </div>
                  <div class="input-group" [ngClass]="{'input-group-focus':focus2===true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="nc-icon nc-key-25"></i>
                      </span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password..." (focus)="focus3=true"
                      (blur)="focus3=false" id="password" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="customerModel.password" #password="ngModel">
                  </div>
                  <div class="input-group" [ngClass]="{'input-group-focus':focus2===true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="nc-icon nc-badge"></i>
                      </span>
                    </div>
                    <select name="" class="form-control" id="gender" [(ngModel)]="customerModel.gender"
                      #gender="ngModel" [ngModelOptions]="{standalone: true}">
                      <option value="" disabled selected hidden>Choose Gender...</option>
                      <option selected="" disabled selected hidden>Choose Gender...</option>
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                      <option value="other">Other</option>
                    </select>
                  </div>
                  <div class="input-group" [ngClass]="{'input-group-focus':focus2===true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="nc-icon nc-album-2"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Date of Birth" onfocus="(this.type='date')"
                      id="date" [ngModelOptions]="{standalone: true}" [(ngModel)]="customerModel.date" #date="ngModel">
                  </div>
                  <div class="card-footer ">
                    <div class="form-group">
                      <a routerLink='/pages/forgotpwd' style="font-weight: 500;">Forgot Password ?</a>
                      <a routerLink='/pages/login' style="font-weight: 500; padding-left: 80px">Login</a>
                    </div>
                    <button type="submit" (click)="verification()" class="btn btn-info btn-round"
                      [disabled]="!forgotForm.form.valid || !selectedRole">
                      Get Started
                    </button>
                    <!-- [disabled]="!forgotForm.form.valid || !selectedRole" -->

                  </div>
                </form>
              </div>

            </div>
          </div>
          <div class="col-lg-4 col-md-8 ml-auto mr-auto" *ngIf="otpBox">
            <div class="card card-lock text-center ">
              <div class="card-header ">
                <h4 class="card-title">Enter One Time Password (OTP)</h4>
              </div>
              <div class="card-body">
                <div class="input-group" [ngClass]="{ 'input-group-focus': focus === true }">
                  <input type="number" class="form-control" id="otp" name="otp" [(ngModel)]="customerModel.otp"
                    placeholder="Enter six digit OTP" required value="" pattern="0-9" (focus)="focus=true"
                    (blur)="focus=false" #otp="ngModel" />

                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
                  </div>

                </div>
                <div *ngIf="otp.errors && (otp.dirty || otp.touched)" class="alert alert-danger">
                  <div *ngIf="otp.errors.required">
                    One Time Password(OTP) is required
                  </div>
                  <div [hidden]="!otp.errors('pattern')">
                    Enter Only Numbers.
                  </div>
                </div>
              </div>
              <div class="link d-flex justify-content-center" style="padding-top:10px ;color:blue;">
                <a>
                  <strong>Resend OTP in: </strong>{{timeLeft}} Sec.
                </a>
              </div>
              <div class="card-footer text-center">
                <button class="btn btn-danger btn-block btn-round" id="registration-submit" *ngIf="timeLeft==0"
                  (click)="resendOTP()" value="Sign in"><i class="fa fa-sign-in"></i> Resend OTP</button>
                <br>
                <button type="cancel" (click)="cancelIt()" class="btn btn-default btn-round">
                  <i class="fa fa-times" aria-hidden="true"></i> Cancel
                </button>
                &nbsp;
                <button type="submit" (click)="saveCustomerDetail()" [disabled]="!otpForm.form.valid"
                  class=" btn btn-info btn-round">
                  <i class="fa fa-paper-plane" aria-hidden="true"></i> Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer footer-black  footer-white " >
      <div class="container">
        <div class="row">
          <nav class="footer-nav">
            <ul>

              <li>
                <a href="https://www.keryar.com">
                  Keryar
                </a>
              </li>
              <li>
                <a href="https://keryar.com/why">
                  Blog
                </a>
              </li>
              <li>
                <a>
                  Licenses
                </a>
              </li>
            </ul>
          </nav>
          <div class="credits ml-auto">
            <span class="copyright">
              &copy; {{test | date: 'yyyy'}}, Design & Develop by <a href="https://www.keryar.com">Keryar</a>
            </span>
          </div>
        </div>
      </div>
    </footer>
  </div>

</div>