<div class="main-content">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-10">
                    <h4 class="card-title">View Attandance</h4>
                </div>
                <div class="ml-md-auto">
                    <button type="cancel" class="btn btn-danger btn-round" (click)="backToRegister()">
                        <i class="fa fa-arrow-left"></i> Back
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-calendar">
                        <div class="card-content">
                            <full-calendar [options]="calendarOptions" style="color:red;"></full-calendar>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-3">
                            <h5 class="model-title">{{stdname}}</h5>
                        </div>
                        <div class="col-md-5">
                            <h5 class="model-title">Selected Date: {{selected}}</h5>
                        </div>
                        <div class="ml-md-auto">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                (click)="hidemodal()">
                                <i class="nc-icon nc-simple-remove"> &nbsp;</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="instruction">
                        <form class="form-horizontal" name="mainCateRegForm" #mainCateRegForm="ngForm">
                            <div class="card card-plain">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="card-title">Select Student</h4>
                                        </div>
                                        <div class="col-md-2" style="margin-top: 20px!important;">
                                            <div class="form-check-radio">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="title"
                                                        id="Present" value="Present"
                                                        [(ngModel)]="attandanceModel.title"> Present
                                                    <span class="form-check-sign"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="margin-top: 20px!important;">

                                            <div class="form-check-radio">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="title"
                                                        id="Abscent" value="Abscent"
                                                        [(ngModel)]="attandanceModel.title"> Absent
                                                    <span class="form-check-sign"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-primary">
                                                <th class="text-left">
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input [disabled]="!attandanceModel.title"
                                                                class="form-check-input" [(ngModel)]="isMasterSel"
                                                                name="list_name" value="h1"
                                                                (change)="isAllSelected(isMasterSel)" type="checkbox" />
                                                            <span class="form-check-sign"></span>
                                                        </label>
                                                    </div>
                                                </th>
                                                <th class="text-center">#</th>
                                                <th class="text-center">Name</th>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let item of students ">
                                                    <td>
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" [disabled]="!attandanceModel.title"
                                                                    [(ngModel)]="item.checked" name="list_name"
                                                                    (change)="isSelected(item)" type="checkbox" />
                                                                <span class="form-check-sign"></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">{{item.index}}</td>
                                                    <td class="text-center">
                                                        {{ item.firstname }} {{ item.middlename }} {{ item.lastname }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="ml-md-auto">
                                            <pagination-controls    autoHide="true" maxSize="5"
                                                responsive="true"></pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-info btn-round" [disabled]="!attandanceModel.title "
                        data-dismiss="modal" (click)="addStudentAttandance()">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i> Save
                    </button>
                    <button type="button" class="btn btn-secondary btn-round" data-dismiss="modal"
                        (click)="hidemodal()">
                        <i class="fa fa-times" aria-hidden="true"></i> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card" *ngIf="!studentAtte">
        <div class="card-header">
            <div class="row">
                <div class="col-md-10">
                    <h4 class="card-title">Add Attandance</h4>
                </div>
                <div class="ml-md-auto">
                    <button type="cancel" class="btn btn-danger btn-round" (click)="backToStudent()">
                        <i class="fa fa-arrow-left"></i> Back
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-calendar">
                        <div class="card-content">
                            <full-calendar options="calendarOptions"></full-calendar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>