<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="http://www.keryar.com">
                        Keryar
                    </a>
                </li>
                <li>
                    <a href="http://keryar.com/why">
                        Blog
                    </a>
                </li>
                <li>
                    <a>
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, Design & Develop by <a href="http://www.keryar.com">Keryar</a>
        </div>
    </div>
</footer>